.text-toolbar {
  color: #ffffff;
}

.icon-toolbar {
  color: #ffffff;
}

.modalThongTinCaNhan .modal-wrapper {
  height: 50%;
  width: 90%;
  border-radius: 5px;
}

.notifications-badge {
  position: absolute;
  top: 2px;
  border-radius: 50%;
  font-family: "Roboto";
  background-color: green;
}